body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(270, 50%, 80%);
  color: #fff;
  text-align: center;
  padding: 10px;
}

nav {
  display: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}

.hamburger {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.burgerline {
  background-color: #fff;
  width: 100%;
  height: 11%;
  margin: 25%;
}

.hamburger:hover .line2 {
  transform: scale(0);
  transition: ease 0.2s;
}

.hamburger:hover .line1 {
  transform: rotate(405deg) translateY(10px);
  transition: ease 0.7s;
}

.hamburger:hover .line3 {
  transform: rotate(-45deg) translateY(-10px);
  transition: ease 0.7s;
}

main {
  display: flex;
  justify-content: center;
}

button {
  background-color: hsl(270, 50%, 80%);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  text-align: center;
}

.section {
  padding: 40px;
  background-color: #f1f1f1;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.section1 img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.grey_cat {
  width: 100%;
  height: auto;
}

.section1 h2 {
  font-size: 2.5rem;
}

.catGrid,
.cat_gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  width: 100%;
}

.catGrid img,
.cat_gallery img {
  width: 100%;
  height: auto;
}

.cat_gallery {
  padding: 3rem;
}

.section form div {
  display: flex;
  flex-direction: column;
  text-align: left;
}

footer {
  background-color: hsl(270, 50%, 80%);
  color: #fff;
  text-align: center;
  padding: 10px;
  position: relative;
}

.giphy {
  display: block;
  position: absolute;
  bottom: 1.9rem;
  right: 0;
  width: 10rem;
  animation: catwalk 10s infinite;
  animation-timing-function: linear;
}

@keyframes catwalk {
  from {
    right: 0px;
  }
  to {
    right: 810px;
  }
}

input,
textarea {
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
}

/*Slut på startsida*/

.arrow {
  width: 20px;
  height: 20px;
}

.arrowline {
  background-color: #fff;
  width: 100%;
  height: 11%;
  margin: 25%;
}

.arrow:hover {
  transform: scale(1.25);
  transition: ease 0.5s;
}

.arrow:hover .aline2 {
  transform: translateX(1px);
  width: 150%;
}
.arrow:hover .aline1 {
  width: 90%;
  transform: rotate(-45deg);
  transition: ease 0.7s;
}
.arrow:hover .aline3 {
  width: 90%;
  transform: rotate(45deg);
  transition: ease 0.7s;
}

/*Mediaqueries*/
@media (min-width: 786px) {
  nav {
    display: block;
    text-align: center;
    padding: 10px;
  }

  .hamburger {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .catGrid,
  .cat_gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1080px) {
  .catGrid,
  .cat_gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section1 {
    flex-direction: row;
  }

  .section1 img {
    width: 50%;
  }

  .catGrid .katt3:hover {
    transform: scale(1.25) translate(220px, 175px);
    transition: ease-in 1s;
  }

  .catGrid .katt4:hover {
    transform: scale(1.25) translateY(200px);
    transition: ease-in 1s;
  }

  .catGrid .katt5:hover {
    transform: scale(1.25) translate(-220px, 200px);
    transition: ease-in 1s;
  }

  .catGrid .katt6:hover {
    transform: scale(1.25) translate(220px, -175px);
    transition: ease-in 1s;
  }

  .catGrid .katt7:hover {
    transform: scale(1.25) translateY(-200px);
    transition: ease-in 1s;
  }

  .catGrid .katt8:hover {
    transform: scale(1.25) translate(-220px, -200px);
    transition: ease-in 1s;
  }

  .giphy {
    animation: catwalk 15s infinite;
  }

  @keyframes catwalk {
    from {
      right: 0px;
    }
    to {
      right: 1400px;
    }
  }
}
